#loading-box {
  position: absolute;
  /* background-color: rgb(2, 82, 82, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
