#update-calendar {
    background-color: #212121;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: relative;
}

#click-alert {
    display: flex;
    background-color: rgb(46, 45, 45, 0.5);
    width: 100%;
    height: 100%;
    z-index: 99;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

#click-alert-ok {
    color: rgb(0, 253, 0);
    text-decoration: underline;
    cursor: pointer;
}