.union-calendar {
  background-color: #212121;
  display: flex;
  width: 330px;
  margin: 3px;
  border-radius: 10px;
  padding: 8px;
}

.union-calendar-info {
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 300px;
 
}

@media (min-width: 500px) {
  .union-calendar {
    width: 500px;
  }

  .union-calendar-info {
    width: 500px;
  }
}
