#calendar-2 {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  height: auto;
  
}

@media (min-width: 500px) {
    #calendar-2 {
        display: flex;
        flex-direction: column;
        min-width: 500px;
        height: auto;
      }
}

.test {
  border-top-left-radius: 10;
  border-bottom-left-radius: 10;
}

.left-div {
  position: absolute;
  left: -1%;
  width: 53%;
  top: 5%;
  height: 90%;
  /* font-weight: 900; */
}

.right-div {
 
  position: absolute;
  width: 52%;
  top: 5%;
  height: 90%;
  left: 50%;
  
}

