#calendar-2 {
  display: flex;
  flex-direction: column;
  min-width: 330px;
  height: auto;
}

@media (min-width: 500px) {
    #calendar-2 {
        display: flex;
        flex-direction: column;
        min-width: 500px;
        height: auto;
      }
}
