#update-rent {
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 330px;
}

#update-rent-status {
    display: flex;
    justify-content: space-between;
}

.update-rent-item {
    margin: 15px;
}

#update-rent-client {
    display: flex;
    justify-content: space-between;
}