#update-rent {
    color: white;
    display: flex;
    flex-direction: column;
    width: 340px;
    background-color: rgb(40, 41, 41);
    margin: 15px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 0px 5px 5px  #383838;
}

#update-rent-status {
    display: flex;
    justify-content: space-between;
}

.update-rent-item {
    margin: 15px;
}

#update-rent-client {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 500px) {
    #update-rent {
        width: 500px;

    }
} 