#about-location-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

/* .calendar__calendar-container {
    max-width: 30rem;
} */

/* @media (min-width: 500px)  { 
    #about-location-image {
        border-radius: 20px;
        max-width: 800px;
    }
} */

/* @media (min-width: 500px) and (max-width: 1200px) { 
    #about-location-image {
        border-radius: 20px;
        max-width: 600px;
    }
} */