#create-rent {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
  
    align-items: center;
    padding: 15px;
    background-color: #0c0c0c;
}

#create-rent-image {
   width: 330px;
   margin: 15px;
}

@media (min-width: 500px) {
    #create-rent-image {
        width: 500px;
     }
} 