#about-house-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* .calendar__calendar-container {
    min-width: 350px;
}

@media (min-width: 500px) {
    .calendar__calendar-container {
        min-width: 750px;
    }
} */