#crumbs-box{
    position: fixed;
    background-color: #212121;
    top: 55px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    color: white;
   
    font-size: small;
    z-index: 2;
}

.crumb{
 
    white-space:nowrap;
    text-overflow:ellipsis; 
    max-width:100px;
    font-style: italic;
    cursor: pointer;
    
}